<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-avatar class="circle">
    <img [src]="client?.imageUrl || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
  </ion-avatar>
  <h2>{{client?.name}}</h2>
  <p>{{client?.email}}</p>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>